*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-kaushan-script {
  font-family: "Kaushan Script", cursive;
}